<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head xmlns:th="http://www.thymeleaf.org">
    <root xmlns:th="http://www.thymeleaf.org"/>
    <meta charset="ISO-8859-1">
    <title>Spring Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
</head>
<body>

<!--Start - Delete Employee-->

<div id="delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure?</h3>
            </div>
            <div class="modal-body">
                <form action="/employee/delete" method="post">
                    <input type="hidden" class="form-control" id="id" name="id">
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End - Delete Employee-->
<!--Start - Add Employee Modal-->
<div id="employee" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Employee</h3>
            </div>
            <form action="/employee/add" method="post">
                <div class="modal-body">
                    <span style="color: red">*</span><small>Required</small><br>
                    <fieldset class="form-group">
                        <label>Employee Username (0-15 Characters)</label><span style="color: red">*</span>
                        <input type="text" class="form-control" name="username"
                               required="required" pattern="[A-Za-z\s]{0,15}"
                               placeholder="Enter the username">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Select Department</label>
                        <select class="form-control"
                                name="department">
                            <option value="---">Select Department</option>
                            <option value="Technical">Technical</option>
                            <option value="Finance">Finance</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Human Resource">Human Resource</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Employee Mobile Number</label>
                        <input type="number" class="form-control" name="mobile_no"
                               placeholder="Enter the Mobile Number">
                        <label for="phone">Employee Mobile Number</label>
                        <input type="tel" id="phone" name="phone">
                    </fieldset>
                    <fieldset class="form-group">

                        <label>Select UserRole</label><br>
                        <select name="role_id" class="form-control">
                            <option th:each="role : ${roleList}" th:value="${role.role_id}"
                                    th:text="${role.role_name}"/>
                            </option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">User Password (must be 8-15 characters only)</label><span
                            style="color: red">*</span>
                        <input type="password" class="form-control" name="password" required="required" id="password"
                               placeholder="Enter the password">
                        <meter max="4" id="password-strength"></meter>
                        <p id="password-strength-text"></p>
                        <script type="text/javascript">
                            var strength = {
                                0: "Weakest",
                                1: "Weak",
                                2: "OK",
                                3: "Good",
                                4: "Strong"
                            }

                            var password = document.getElementById('password');
                            var meter = document.getElementById('password-strength');
                            var text = document.getElementById('password-strength-text');

                            password.addEventListener('input', function () {
                                var val = password.value;
                                var result = zxcvbn(val);

                                // This updates the password strength meter
                                meter.value = result.score;

                                // This updates the password meter text
                                if (val !== "") {
                                    text.innerHTML = "Password Strength: " + strength[result.score];
                                } else {
                                    text.innerHTML = "";
                                }
                            });
                        </script>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="container text-left">
                        <button type="submit" class="btn btn-success">Add Employee</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--End - Add Employee Modal-->

<!--Start - Edit Employee Modal-->
<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Employee</h3>
            </div>
            <form action="/employee/add" method="post">
                <div class="modal-body">
                    <span style="color: red">*</span><small>Required</small><br>
                    <fieldset class="form-group">
                        <label>Employee Username (0-15 Characters)</label><span style="color: red">*</span>
                        <input type="text" class="form-control" id="username" name="username"
                               required="required" pattern="[A-Za-z\s]{0,15}"
                               placeholder="Enter the username">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Select Department</label> <select class="form-control"
                                                                 name="department" id="department">
                        <option value="Technical">Technical</option>
                        <option value="Finance">Finance</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Human Resource">Human Resource</option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Employee Mobile Number</label>
                        <input type="number" class="form-control" name="mobile_no"
                               placeholder="Enter the Mobile Number" id="mobile_no">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Select UserRole</label><br>
                        <select class="form-control" id="role_id">
                            <option th:each="role : ${roleList}" th:value="${role.role_id}"
                                    th:text="${role.role_name}"/>
                            </option>
                        </select>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="container text-left">
                        <button type="submit" class="btn btn-success">Update Employee</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--End - Edit Employee Modal-->

<div class="container">
    <div class="jumbotron">
        <label>Logged in :</label>
        <input type="text" name="username">
        <div class="container text-right">
            <form action="/logout">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
        <div class="container text-left">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#employee">Employee +
            </button>
        </div>
        <hr>
        <h3>Employee List</h3><br>
        <form action="/employee/list" method="GET">
            <table class="table table-dark" id="table">
                <tr>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Mobile No</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                <tr th:each="emp : ${list}">
                    <input type="hidden" th:value="${emp.id}"/>
                    <td><span th:text="${emp.id}"/></td>
                    <td><span th:text="${emp.username}"/></td>
                    <td><span th:text="${emp.department}"/></td>
                    <td><span th:text="${emp.mobile_no}"/></td>
                    <td>
                        <a type="button" class="btn btn-warning" data-toggle="modal"
                           th:onclick="editEmployee([[${emp.id}]])">Edit</a>
                        <a type="button" class="btn btn-danger" data-toggle="modal"
                           th:onclick="getEmployee([[${emp.id}]])">Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!--<script th:inline="javascript">-->
<!--    var i = [[${list}]];-->
<!--    console.log(i);-->
<!--</script>-->
<script>
    function editEmployee(id) {
        $('#edit').modal('show');
        // var id = $(id).parent().prev().prev().prev().prev()[0].outerText;
        $.ajax({
            type: "GET",
            url: "/employee/getEmployee",
            data: {
                id: id
            },
            dataType: "json",
            success: function (data) {
                $('#id').val(data.id);
                // $('#username').val(data.username);
                // $('#department').val(data.department);
                // $('#mobile_no').val(data.mobile_no);
                // $('#role_id').val(data.role_id);
            }, error: function (e) {
                console.log(e);
            }
        });
    }

    function getEmployee(id) {
        $('#delete').modal('show');
        $.ajax({
            type: "GET",
            url: "/employee/getEmployee",
            data: {
                id: id
            },
            dataType: "json",
            success: function (data) {
                $('#id').val(data.id);
                $('#username').val(data.username);
                $('#department').val(data.department);
                $('#mobile_no').val(data.mobile_no);
                $('#role_id').val(data.role_id);
            }, error: function (e) {
                console.log(e);
            }
        });
    }
    function deleteEmployee(id) {
        $('#delete').modal('show');
        $.ajax({
            type: "POST",
            url: "/employee/delete",
            data: {
                id: id
            },
            dataType: "json",
            success: function (data) {
                $('#id').val(data.id);
                // var id = JSON.stringify(id);
            }, error: function (e) {
                console.log(e);
            }

        });
    }
</script>
</body>
</html>